@use 'src/app/shared/baseStyles.scss' as gral;

.form {
    .area-img {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .other-side {
            width: 75%;
            .box {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
}

.episodes {
    overflow: auto;
    width: 700px;
    max-height: 150px;
    display: flex;
    flex-wrap: wrap;

    .episode {
        height: fit-content;
        background: lightgray;
        padding: 5px 10px;
        border-radius: 10px;
        margin: 10px;
    }
}

.area-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    .button {
        padding: 0px 50px;
    }
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
