@use 'src/app/shared/baseStyles.scss' as gral;

.form {
    .box {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.characters {
    overflow: auto;
    width: 600px;
    max-height: 150px;
    display: flex;
    flex-wrap: wrap;

    .character {
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background: lightgray;
        padding: 5px 10px;
        border-radius: 10px;
        margin: 10px;
    }
}

.area-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    .button {
        padding: 0px 50px;
    }
}
