$black: rgb(36, 40, 47); // #24282f
$blackMedium: rgb(32, 35, 41); // #202329
$blackLight: rgb(60, 62, 68); // #3c3e44
$grey: rgb(121, 134, 155); // #79869b
$primary: rgb(3, 169, 244); // #03a9f4
$accent: rgb(67, 160, 71); // #43a047
$warn: rgb(255, 64, 129); // #ff4081

