<app-page-template [status]="status" title="Characters">
    <div class="content">
        <div class="actions-bar mat-elevation-z3">
            <!-- <mat-label>Filter</mat-label> -->
            <input matInput (keyup)="applyFilter($event)" placeholder="Search something..." autocomplete="off" #input>
            <button mat-raised-button color="accent" (click)="addCharacter()">
                <mat-icon>add</mat-icon>
                Add character
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </button>
        </div>
        <div class="table mat-elevation-z8">
            <table class="myTable" mat-table [dataSource]="dataCharacters">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <ng-container matColumnDef="specie">
                    <th mat-header-cell *matHeaderCellDef> Specie </th>
                    <td mat-cell *matCellDef="let element"> {{element.species}} </td>
                </ng-container>
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef> Gender </th>
                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                </ng-container>
                <ng-container matColumnDef="info">
                    <th mat-header-cell *matHeaderCellDef> Information </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="warn" (click)="infoCharacter(element.id)">
                            <mat-icon>info</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator class="paginator mat-elevation-z8" [length]="totalCharacters" [pageSize]="this.sizePage"
            [pageSizeOptions]="[10, 20, 50, 100]" (page)="updatePaginatorSettings($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</app-page-template>